doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width,initial-scale=1")
		link(rel="stylesheet" href="/src/styles/styles.scss")
		if page === 'home'
			script(type="module" src="src/js/main.js")
		block title
			title Kino Bio - Uppsala
	body
include ../partials/header.pug
block content
include ../partials/footer.pug