extends layouts/layout.pug

block title
	title Kino Uppsala - 404

block content
	div(class=error)
		h1 404 - Page not found
		p The page you are looking for does not exist.
		a(href="/movies") Go back to all movies