extends layouts/layout.pug

block title
	title Kino Uppsala - 404

block content
	.error
		h1 404 - Page not found
		p The page you are looking for does not exist.
		a.primary_button(href="/movies" aria-label="See all movies") Go back to all movies 