header.header
			.navigation__mobile
				a(href="/index")
					.header__logo
				button.hamburger(aria-label="Menu")
					span.bar
					span.bar
					span.bar
			ul.hamburger__items
				button.hamburger__close
				li.hamburger__list
					a(href="#") BILJETTER
				li.hamburger__list
					a(href="#") EVENEMANG
				li.hamburger__list
					a(href="/movies") FILMER
				li.hamburger__list
					a(href="#") MEDLEMSKAP
				li.hamburger__list
					a(href="/about") OM OSS
			a(href="https://klumpish.github.io/kino-bio-projekt/#")
				.header__logo
			nav.header__nav
				ul.header__nav-list
					li.header__nav-item
						a.header__nav-link(href="#" aria-label="Go to Biljetter") BILJETTER
					li.header__nav-item
						a.header__nav-link(href="#" aria-label="Go to Evenemang") EVENEMANG
					li.header__nav-item
						a.header__nav-link(href="/movies" aria-label="Go to Filmer") FILMER
					li.header__nav-item
						a.header__nav-link(href="#" aria-label="Go to Medlemskap") MEDLEMSKAP
					li.header__nav-item
						a.header__nav-link(href="/about" aria-label="Go to Om oss") OM OSS
			a.header__bookTicket(aria-label="Book tickets now")
				button.header__BookTicket-button BOKA BILJETT