extends layouts/layout.pug

block title
	title Kino Uppsala - Movies

block content
	.movie__list
		h1 Movies
		ul 
			each movie in allMovies
				li
					a(href=movie.id ? `/movies/${movie.id}` : '#' aria-label=movie.title) #{movie.title}